@font-face {
  font-family: "Noto Sans Mandaic";
  src: url("../font/mandaic/notosansmandaic-regular-webfont.woff2")
      format("woff2"),
    url("../font/mandaic/notosansmandaic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Arabic";
  src: url("../font/arabic/notosansarabic-regular-webfont.woff2")
      format("woff2"),
    url("../font/arabic/notosansarabic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Arabic", sans-serif;
  background-color: #fafafa;
}

h1 {
  margin-top: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.base {
  display: grid;
  grid-template-columns: repeat(15, 30px auto);
  grid-template-rows: repeat(4, 60px);
  grid-gap: 5px;
  padding: 20px;
  background-color: #c5c5c5;
  border-radius: 10px;
  border-bottom: 3px solid #777;
  transform: scale(0.7);
}

textarea {
  width: 100vw;
  height: 254px;
  transform: scale(0.7);
  resize: vertical;
  padding: 1rem;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
  background-color: transparent;
  font-size: 2.5rem;
  font-family: "Noto Sans Mandaic", "Noto Sans Arabic", sans-serif;
}

kbd {
  display: grid;
  align-items: center;
  position: relative;
  grid-column: span 2;
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  border-style: solid;
  border-width: 1px 2px 4px 2px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border-color: #999 #777 #666 #777;
  color: #222;
  text-align: center;
}

kbd:active {
  transform: translateY(2px) scale(0.98);
  border-bottom-width: 2px;
}

textarea::placeholder {
  color: #222;
  opacity: 0.4;
}

span:lang(mid),
span:lang(ar) {
  position: static;
  font-family: "Noto Sans Mandaic", sans-serif;
  font-size: 2rem;
  color: hsl(333, 100%, 33%);
}

span {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1rem;
  color: inherit;
}

.leftshift,
.rightshift {
  grid-column: span 5;
}

.delete,
.capslock,
.enter {
  grid-column: span 4;
}

.tab,
.backslash {
  grid-column: span 3;
}
