@font-face {
  font-family: "Noto Sans Mandaic";
  src: url("../font/mandaic/notosansmandaic-regular-webfont.woff2")
      format("woff2"),
    url("../font/mandaic/notosansmandaic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Arabic";
  src: url("../font/arabic/notosansarabic-regular-webfont.woff2")
      format("woff2"),
    url("../font/arabic/notosansarabic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Arabic", sans-serif;
  background-color: #fafafa;
}

h1 {
  margin: 2rem 0;
  text-align: center;
  text-transform: capitalize;
}

.base,
textarea {
  display: grid;
  grid-template-columns: repeat(15, 30px auto);
  grid-template-rows: repeat(4, 60px);
  grid-gap: 5px;
  width: calc(100% / 3 * 2);
  padding: 20px;
  margin: 0 auto;
}

.base {
  background-color: #ccc;
  border-radius: 10px;
  border-bottom: 3px solid #777;
}

textarea {
  height: 254px;
  line-height: 1.5;
  resize: vertical;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.75rem;
  font-family: "Noto Sans Mandaic", "Noto Sans Arabic", sans-serif;
  margin-bottom: 2rem;
}

kbd {
  display: grid;
  align-items: center;
  position: relative;
  grid-column: span 2;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px 2px 4px 2px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border-color: #999 #777 #666 #777;
  color: #222;
  text-align: center;
}

kbd:active,
kbd.active {
  transform: scale(0.98);
  border-bottom-width: 2px;
  border-color: #222;
  background-color: #222;
  color: #fafafa;
}

textarea::placeholder {
  color: #222;
  opacity: 0.4;
}

.leftshift,
.rightshift {
  grid-column: span 5;
}

.delete,
.capslock,
.enter {
  grid-column: span 4;
}

.tab,
.backslash {
  grid-column: span 3;
}

.mandaic {
  font-family: "Noto Sans Mandaic";
  font-size: 1.25rem;
}

/* Reduce keyboard size on large monitors */
@media screen and (min-width: 1600px) {
  .base,
  textarea {
    max-width: 50%;
  }
}

/* Hide keyboard on mobile devices: virtual keyboard will work */
@media screen and (max-width: 952px) {
  .base {
    display: none;
  }

  textarea {
    width: 90%;
  }
}
